.head{
    padding:1.5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}
.heading{
    color:white;
    font-size: 2.5 rem;
    text-decoration: underline;
}
.form_head{
    width:auto;
    text-align: center;
    margin: 1%;
    font-size:2rem;
    text-decoration: underline;
}
.productContainer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-row-gap:50px;
    grid-column-gap:5%;
    padding:5px;
}
.productimage{
    height:200px;
    width:100%;
}
.button_container{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: 1%;
}
.button_container button{
    background-color: blue;
    color:white;
    padding: 7.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.cardelement{
    display: flex;
    justify-content: space-between;
}
 .dropdown {
    display: inline-block;
    margin-right:8%; 
  } 
  .dropdown_content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
.dropdown_content li{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor:pointer;
  }
  .dropbtn{
    font-size:1.2rem;
    cursor: pointer;
  }
  .dropdown_content li:hover {
    background-color: #ddd;
}
  .quantity_buttons{
    display:flex;
    width:20%;
    justify-content: space-between;
  }
  .quantity_buttons button{
      background-color: rgb(61, 117, 207);
      color:white;
      border:none;
      border-radius:20px;
      font-size:1.5rem;
      cursor: pointer;
      padding:0 5px;
  }